.card-article {
    border: solid 1px rgb(211, 211, 211) !important;
}
.card-article:hover{
    border: solid 2px rgb(118, 117, 117) !important;
}

.textarea ul, .textarea li{
    list-style: disc  !important;
    margin-left: 10px;
}

.join-group-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 9, 234, 0.193); /* Warna biru dengan opasitas 50% */
    z-index: -1; /* Pastikan overlay berada di bawah konten */
}

.article ul, .article li{
    list-style: disc  !important;
    margin-left: 10px;
}

.sticky-div {
    position: sticky !important;
    top: 100px !important; /* Ubah ini sesuai kebutuhan Anda */
    /* overflow: scroll; */
}

.citiesCard {
    position: relative;
  }
  
  .citiesCard__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Sesuaikan tinggi gradient sesuai kebutuhan */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1; /* Pastikan gradient berada di atas gambar */
  }
  
  .citiesCard__content {
    position: relative;
    z-index: 2; /* Pastikan konten berada di atas gradient */
  }



/* Animasi Skeleton */
@keyframes loading-skeleton {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .skeleton-area .loading-skeleton {
    background-color: #eee;
    animation: loading-skeleton 0.5s infinite alternate;
    pointer-events: none;
  }
  
  /* Grayscale untuk gambar */
  .skeleton-area .loading-skeleton img {
    filter: grayscale(100%) contrast(0%) brightness(1.8);
  }
  
  /* Skeleton untuk teks */
  .skeleton-area h4,
  .skeleton-area .text-14,
  .skeleton-area .button {
    background-color: #eee;
    color: transparent;
    border-radius: 4px;
    animation: loading-skeleton 1.5s infinite alternate;
  }

  .step-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .step-content-wrapper {
    cursor: pointer;
  }
  
  .step.active .step-content {
    font-weight: bold;
  }
  
  .js-step-progress .step-item {
    list-style: none;
  }
  
  .js-step-form .step {
    display: none;
  }
  
  .js-step-form .step.active {
    display: block;
  }

  .border-1{
    border: solid 1px rgba(64, 63, 63, 0.367) !important;
  }
  
  .form-control {
    border: solid 1px rgba(64, 63, 63, 0.367) !important;
  }
  label{
    font-weight: bold;
    /* margin-top: 20px; */
  }
  .line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Custom CSS to handle sidebar visibility */
.sidebar-desktop-only {
  display: none; /* Hide by default */
}

.top-5 {
  top: 50px;
}

.iteraryy figure img{
  max-width: 80% !important;
  margin-top: 8px;
  border-radius: 10px;
}

/* Show sidebar only on desktop and larger screens */
@media (min-width: 1200px) { /* Adjust the breakpoint as necessary */
  .sidebar-desktop-only {
    display: block;
  }
}

  