.card-article {
    border: solid 1px rgb(211, 211, 211) !important;
}
.card-article:hover{
    border: solid 2px rgb(118, 117, 117) !important;
}

.textarea ul, .textarea li{
    list-style: disc  !important;
    margin-left: 10px;
}

.join-group-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 9, 234, 0.193); /* Warna biru dengan opasitas 50% */
    z-index: -1; /* Pastikan overlay berada di bawah konten */
}

.article ul, .article li{
    list-style: disc  !important;
    margin-left: 10px;
}